@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: corporate --default, black --prefersdark;
}

@theme {
    --font-sans: "Inter", "sans-serif";
    --font-display: "Playfair Display Variable", "serif";
}
