@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: black --default;
}

@theme {
    --font-sans: "Inter", "sans-serif";
    --font-display: "Playfair Display Variable", "serif";
}
